/build/*
/vsxmake2022/*
/.xmake/*
/.cache/*
compile_commands.json
/.idea/*
.idea/vcs.xml
/vs2022/*
/.vs/*
/assets/*
/Dionysen/vendor/msdf-atlas-gen/build/*

*/.DS_Store
**/.DS_Store
/.history
/DwgExporter/Teigha
